.map__image{
width: 50%;
}

.map__image path{
    fill:#12bac9;
    stroke: #d0c6c6;
    stroke-width: 1px;
}

.map__list{
    float:right;
    width:50%;
}

map__list a {
    color:inherit
    text decoration : none;
    transition color : 0,3s;
}
